
\.idea/

SSNBackend/bin/

SSNBackend/obj/

SSNBackend/Migrations/

SSNBackend\.Business/bin/

SSNBackend\.Business/obj/

SSNBackend\.Business\.Test/obj/

SSNBackend\.DatabaseModel/obj/

SSNBackend\.Test/obj/
