<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="libs/bootstrap/dist/css/*.min.css" />
</head>
<body>
<div class="container">
      @RenderBody()
</div>
</body>
</html>