@model IEnumerable<News>

@{
    ViewBag.Title = "Все новости";
    Layout = "_MainLayout";
}
<div class="col-md-8 col-lg-offset-2">
    
@foreach (var news in Model)
{
    @Html.Partial("NewsBody", news)
}
<a asp-action="AddNews">Добавить новость</a>
</div>